.footer-logo{
    height: 1em;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(149deg) brightness(105%) contrast(107%);
}

footer{
    background:$footer-color;
    padding: 1.5em;
    line-height: 1.8em;

    i{
        font-size: 0.7em;
        width: 1.5em;
    }

    a, i{
        color: white;
    }

    @media (min-width: 1024px) {
        padding-left: 5%;
    }
}

.footer__links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 1em;
    padding-left: 0;

    @media (min-width: 1024px){
        flex-direction: row;
    }
}