.header-top{
    display: grid;
    grid-template-areas: "back logo none" ;
    grid-template-rows: 4em;            
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    position: relative;

    &__logo{
        grid-area: logo;
        height: 1.6em;
        width: auto;
        width: 100%;
    }
    
    &__back-arrow{
        grid-area: back;                      
    }      
    
    @media (min-width: 1024px) {
        grid-template-rows: 5em;  
        grid-template-columns: 1fr 1fr 5fr;

        &__logo{
            height: 2em;
            width: auto;
        } 

    }
}

.loc-search-submit{
    display: none;
}