.header-top {
    display: grid;
    grid-template-areas: "back logo none" ;
    grid-template-rows: 4em;            
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    position: relative;

    &__logo {
        height: 1.6em;
        width: auto;
        grid-area: logo;
        width: 100%;
        align-self: center;   
    }
    

    a {
        grid-area: back;
        align-self: center;                       
    }      
    
   @media (min-width: 1024px) {
    grid-template-rows: 5em;  
    grid-template-columns: 1fr 1fr 5fr;

    &__logo {
        height: 2em;
        width: auto;
    } 

}

}

.loc-search-submit
{
    display: none;
}