@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes animenu {
  0% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
    opacity: 1;
  }
}
@keyframes animenu {
  0% {
    -webkit-transform: scaley(0);
            transform: scaley(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scaley(1);
            transform: scaley(1);
    opacity: 1;
  }
}

@-webkit-keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes bordercolor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes bordercolor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

strong {
  font-weight: inherit;
}

em {
  font-weight: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

html, body {
  overflow-x: hidden;
}

.loader-anim {
  -webkit-animation: loader 3s forwards ease-in-out 2s;
          animation: loader 3s forwards ease-in-out 2s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 5;
}

.loader-anim__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  background: white;
  border-radius: 100%;
  width: 280px;
  height: 280px;
}

.loader-anim__border:before {
  -webkit-animation: bordercolor 3s infinite forwards ease-out;
          animation: bordercolor 3s infinite forwards ease-out;
  content: '';
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -10px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(#FF79DA), to(white));
  background: linear-gradient(180deg, #9356DC, #FF79DA, white);
}

.loader-anim__logo {
  font-family: "Shrikhand", sans-serif;
  font-size: 2.8em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0.5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(180deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

.header-top {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "back logo none";
  -ms-grid-rows: 4em;
      grid-template-rows: 4em;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-top__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  height: 1.6em;
  width: auto;
  width: 100%;
}

.header-top__back-arrow {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: back;
}

@media (min-width: 1024px) {
  .header-top {
    -ms-grid-rows: 5em;
        grid-template-rows: 5em;
    -ms-grid-columns: 1fr 1fr 5fr;
        grid-template-columns: 1fr 1fr 5fr;
  }
  .header-top__logo {
    height: 2em;
    width: auto;
  }
}

.loc-search-submit {
  display: none;
}

.header-loc {
  background-color: rgba(211, 211, 211, 0.5);
  -webkit-box-shadow: inset 0px 6px 5px -5px rgba(59, 59, 59, 0.5);
          box-shadow: inset 0px 6px 5px -5px rgba(59, 59, 59, 0.5);
  text-align: center;
  padding: 1em 0;
}

.header-loc input {
  background-color: transparent;
  border: none;
  width: 12em;
}

.header-loc input::-webkit-input-placeholder {
  font-size: 1.3em;
  opacity: 1;
  text-align: center;
}

.header-loc input:-ms-input-placeholder {
  font-size: 1.3em;
  opacity: 1;
  text-align: center;
}

.header-loc input::-ms-input-placeholder {
  font-size: 1.3em;
  opacity: 1;
  text-align: center;
}

.header-loc input::placeholder {
  font-size: 1.3em;
  opacity: 1;
  text-align: center;
}

.header-loc input:focus {
  outline: none;
}

@media (min-width: 1024px) {
  .header-loc {
    background-color: white;
    width: 300px;
    border-radius: 2em;
    position: absolute;
    top: 1em;
    right: 5em;
  }
}

.header-search {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 2em 0em;
  text-align: center;
}

@media (min-width: 1024px) {
  .header-search {
    -webkit-box-shadow: inset 0px 6px 5px -5px rgba(59, 59, 59, 0.5);
            box-shadow: inset 0px 6px 5px -5px rgba(59, 59, 59, 0.5);
  }
}

.header-search h1, .header-search p {
  margin-top: 0;
}

.header-search h1 {
  font-size: 1.4em;
  padding: 0% 15%;
}

.header-search p {
  font-size: 1.1em;
  font-weight: 100;
}

.header-search__button {
  width: 220px;
  height: 50px;
  font-size: 1em;
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
  color: white;
  background: linear-gradient(-20deg, #9356DC, #FF79DA);
  cursor: pointer;
  margin: 1em 0 2em;
}

.header-search__button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.main-page__rules {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.main-page__rules h2 {
  width: 350px;
  margin: 1.2em auto 0;
}

@media (min-width: 768px) {
  .main-page__rules h2 {
    text-align: center;
    padding-left: unset;
  }
}

.main-page__rules ul {
  padding: 0 0 0 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  row-gap: 0.5em;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-page__rules li {
  background-color: rgba(211, 211, 211, 0.2);
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
  border-radius: 1em;
  margin-bottom: 1em;
  height: 70px;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2em;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

@media (min-width: 1024px) and (max-width: 1368px) {
  .main-page__rules li {
    width: 250px;
  }
}

.main-page__rules li:nth-child(3) {
  background-color: rgba(147, 86, 220, 0.15);
}

.main-page__rules i {
  color: grey;
  font-size: 1.3em;
}

.main-page__rules .fa-store {
  color: #9356dc;
}

.main-page__rules button {
  border: none;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #9356DC;
  border-radius: 100%;
  position: absolute;
  left: -1em;
}

.main-page__places {
  background-color: rgba(211, 211, 211, 0.3);
  padding: 2em 0em;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-page__places h2 {
  padding-left: 5vw;
}

.main-page__places-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1vw;
          column-gap: 1vw;
  row-gap: 2.2vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.place-card {
  position: relative;
  width: 100%;
  height: 250px;
}

@media (min-width: 1024px) {
  .place-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 24%;
            flex: 1 0 24%;
    min-width: 300px;
    max-width: 32%;
  }
}

.place-card:nth-child(-n + 2)::after {
  content: "Nouveau";
  position: absolute;
  top: 1em;
  right: 1em;
  color: #278870;
  background-color: #99E2D0;
  font-size: 0.9em;
  padding: 0.3em 0.6em;
}

.place-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  height: 100%;
  border-radius: 1em;
  background-color: white;
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
}

.place-card__link:hover {
  -webkit-filter: brightness(105%);
          filter: brightness(105%);
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.5);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.5);
}

.place-card__link img {
  min-height: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

.place-card__link div {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.place-card__link div > h3, .place-card__link div > p {
  margin: 0.2em;
}

.place-card__heart {
  font-size: 1.5em;
  position: absolute;
  right: 1em;
  bottom: 1em;
  cursor: pointer;
}

.place-card__heart::before {
  -webkit-text-stroke: 1px #f6f6f6;
}

@media (min-width: 769px) {
  .place-card__heart:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.place-card__heart::after {
  content: "\f004";
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

input[name=restaurantlike]:checked + label .top-menu__heart {
  content: "\f004";
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-menu {
  font-family: "Shrikhand", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-menu img {
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

.top-menu img[alt="la note enchantee"] {
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}

@media (min-width: 1024px) {
  .top-menu img {
    position: static;
  }
  .top-menu img[alt="la palette du gout"] {
    -o-object-position: 50% 58%;
       object-position: 50% 58%;
  }
  .top-menu img[alt="la note enchantee"] {
    -o-object-position: 50% 50%;
       object-position: 50% 50%;
  }
  .top-menu img[alt="a la francaise"] {
    -o-object-position: 50% 53%;
       object-position: 50% 53%;
  }
  .top-menu img[alt="le delice des sens"] {
    -o-object-position: 50% 65%;
       object-position: 50% 65%;
  }
}

.top-menu__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #f6f6f6;
  border-radius: 2em 2em 0 0;
  margin-top: -3em;
}

@media (min-width: 1024px) {
  .top-menu__name {
    width: 90%;
    margin: -3em auto 0;
  }
}

.top-menu h1 {
  margin-bottom: 0;
  padding-left: 4vw;
}

.top-menu__label {
  padding-right: 5%;
  position: relative;
}

.top-menu__heart {
  font-size: 1.5em;
  padding-right: 5%;
  position: relative;
  cursor: pointer;
}

.top-menu__heart::before {
  -webkit-text-stroke: 1px #f6f6f6;
}

@media (min-width: 769px) {
  .top-menu__heart:hover::after {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.top-menu__heart::after {
  content: "\f004";
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
}

input[name=restaurantlike]:checked + label .place-card__heart {
  content: "\f004";
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  background-color: #f6f6f6;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (min-width: 1024px) {
  .menu {
    width: 90%;
    margin: auto;
    padding: 0;
  }
}

.menu h2 {
  margin-top: 1em;
  margin-bottom: 0;
  padding-top: 1em;
  font-size: 1em;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  height: 25px;
}

.menu h2::after {
  content: "";
  position: absolute;
  left: 1.1em;
  bottom: 0px;
  left: 0;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.menu-flex {
  margin-bottom: 0;
  padding-bottom: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

.menu__cards {
  width: 100%;
}

@media (min-width: 1024px) {
  .menu__cards {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 30%;
            flex: 1 0 30%;
    max-width: 48%;
  }
}

.menu__cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1em;
  width: 100%;
  padding-top: 1em;
  opacity: 0;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: animenu 600ms ease-in-out forwards;
          animation: animenu 600ms ease-in-out forwards;
}

.menu__cards-list-1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.menu__cards-list-2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.menu__cards-list-3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.menu__cards-list-4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.menu__cards-list-5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.menu__cards-list-6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.menu__cards-list-7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.menu__cards-list-8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.menu__cards-list-9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.menu__cards-list-10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.menu__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2.5em 0;
}

.menu__order-button {
  width: 220px;
  height: 50px;
  font-size: 1em;
  border: none;
  border-radius: 2em;
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
  color: white;
  background: linear-gradient(-20deg, #9356DC, #FF79DA);
  cursor: pointer;
}

.menu__order-button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

.item__card {
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
          box-shadow: 0px 5px 5px rgba(59, 59, 59, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  height: 60px;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.item__card-txt {
  line-height: 1.5em;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  padding-left: 1em;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__card-title {
  font-weight: bold;
}

.item__card-price {
  font-weight: bold;
  padding: 0 1em 0.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item__card-check {
  -webkit-transform: translateX(4.2em);
          transform: translateX(4.2em);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: white;
  border-radius: 0 1em 1em 0;
  border: none;
  height: 100%;
  background-color: #99E2D0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item__card-check .fa-check-circle {
  font-size: 1.2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.item__card-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

input[type=radio]:hover + label .item__card-check, input[type=radio]:checked + label .item__card-check {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 15%;
          flex: 1 0 15%;
  max-width: 60px;
  -webkit-transform: translateX(0.2px);
          transform: translateX(0.2px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

input[type=radio]:hover + label .fa-check-circle, input[type=radio]:checked + label .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.footer-logo {
  height: 1em;
  width: auto;
  -webkit-filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(149deg) brightness(105%) contrast(107%);
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(149deg) brightness(105%) contrast(107%);
}

footer {
  background: #373737;
  padding: 1.5em;
  line-height: 1.8em;
}

footer i {
  font-size: 0.7em;
  width: 1.5em;
}

footer a, footer i {
  color: white;
}

@media (min-width: 1024px) {
  footer {
    padding-left: 5%;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1em;
          column-gap: 1em;
  padding-left: 0;
}

@media (min-width: 1024px) {
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
