.main-page__rules{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    h2{
        width: 350px;
        margin: 1.2em auto 0;


        @media (min-width: 768px){
            text-align: center;
            padding-left: unset;
        }
    }

    ul{
        padding: 0 0 0 0.5em;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5em;
        row-gap: 0.5em;
        justify-content: space-evenly; 
        

    }

    li{
        @include rules-button;
        position: relative;

        &:nth-child(3){
            background-color: rgba($color-primary, 0.15);
        }

    }

    i{
        color: grey;
        font-size: 1.3em;
    }

    .fa-store{
        color: rgba($color-primary, 1);
    }

    button{
        border: none;
        width: 25px;
        height: 25px;
        color: white;
        background-color: $color-primary;
        border-radius: 100%;
        position: absolute;
        left: -1em;        
    }
}