.main-page__places{
    background-color: $element-back-color;
    padding: 2em 0em;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    flex: 1;

    h2{
        padding-left: 5vw;
    }    

    &-cards{
        display: flex;
        column-gap: 1vw;
        row-gap: 2.2vh;
        width: 90%;
        margin: auto;      
        flex-wrap: wrap;    
        justify-content: space-between;    
    }
}

.place-card{
    position: relative;
    width: 100%;
    height: 250px;
    
    @media (min-width: 1024px){
        flex: 1 0 24%;
        min-width: 300px;
        max-width: 32%;
        
    }

    &:nth-child(-n + 2){

        &::after{
            @include new-card;
        }
    }


    &__link{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    border-radius: 1em;
    @include card-color;    
           
        img{
        min-height: 0;
        flex: 0 1 70%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 60%;               
        }

        div{
            flex: 1 0 30%;
            padding-left: 1em;    
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
        }

        div > h3, div > p{
            margin: 0.2em;
        }
    }
   
    &__heart{
        font-size: 1.5em;
        position: absolute;
        right: 1em;
        bottom: 1em;

        @include filling-heart;
    }
}

input[name=restaurantlike]:checked + label .top-menu__heart{
    @include filled-heart;             
}