.menu{

    &-flex{
        margin-bottom: 0;
        padding-bottom: 1.5em;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: space-between;
        column-gap: 1em;
    }

    &__cards{
        width: 100%;
        
        @media (min-width: 1024px) {
            flex: 1 0 30%;
            max-width: 48%;
        }      

    }


    &__cards-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        row-gap: 1em;
        width: 100%; 
        padding-top: 1em;   

        opacity: 0;
        transform-origin: bottom;
        animation: animenu 600ms ease-in-out forwards;
        @for $i from 1 through 10 {
        &-#{$i} {
            animation-delay: 200ms * $i;
        }
    }
    }

    &__order{
        display: flex;
        @include flexcenter;     
        padding: 2.5em 0 ;  


        &-button{
            @include clic-button;
        }

    }
    
}

.item__card{
    @include menu-button;
    user-select: none;    
    cursor: pointer;
   

    &-txt{
        line-height: 1.5em;
        flex: 0 1 100%;
        padding-left: 1em;
        overflow: hidden;
        align-self: center;
 
        font-size: 1rem;  
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;  

 
    }

    &-title{
        font-weight: bold;
    }

    &-price{
        font-weight: bold;
        padding: 0 1em 0.5em; 
        user-select: none; 

    }

    &-check{
        transform: translateX(4.2em);
        transition: all 0.4s;
        color: white;
        border-radius: 0 1em 1em 0 ;
        border: none;
        height: 100%;
        background-color: $color-tertiary;   
        padding: 0; 
        display: flex;
        @include flexcenter;

        .fa-check-circle{
            font-size: 1.2em;
            transition: all 0.5s;
        }
    }

    &-price{
        align-self: flex-end;
    } 

}

input[type=radio]:hover + label .item__card-check, input[type=radio]:checked + label .item__card-check{
    flex: 1 0 15%;
    max-width: 60px;
    transform: translateX(0.2px);
    transition-duration: 0.5s;
}

input[type=radio]:hover + label .fa-check-circle, input[type=radio]:checked + label .fa-check-circle {
    transform: rotate(360deg);
    transition-duration: 0.5s;

}
