.top-menu{
    font-family: $font-secondary;
    display: flex;
    flex-direction: column;

    img{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        margin: auto;
    }

    img[alt="la note enchantee"]{
        object-position: 50% 40%;
    }

    @media (min-width: 1024px){

        img{
            position: static;
        }

        img[alt="la palette du gout"]{
            object-position: 50% 58%;
        }

        img[alt="la note enchantee"]{
            object-position: 50% 50%;
        }

        img[alt="a la francaise"]{
            object-position: 50% 53%;
        }

        img[alt="le delice des sens"]{
            object-position: 50% 65%;
        }
    }
   

    &__name{
        display: flex;
        @include flexcenter;
        justify-content: space-between;
        align-items: baseline;
        background-color: $restaurants-back-color;
        border-radius: 2em 2em 0 0;
        margin-top: -3em;
    

        @media (min-width: 1024px) {
            width: 90%;
            max-width: 1500px;
            margin: -3em auto 0;
        }        
    }

    h1{
        margin-bottom: 0;
        padding-left: 4vw;
        
    }
    
    div > .fa-heart{
        font-size: 1.5em;
        padding-right: 5%;
        position: relative;
        
        @include filling-heart;
    }

}

.menu{
    background-color: $restaurants-back-color;
    position: relative;

    @media (min-width: 1024px){
        width: 90%;
        max-width: 1500px;
        margin: auto;
        padding: 0;
    }

    h2{
        margin-top: 1em;
        padding-top: 1em;
        font-size: 1em;
        font-weight: 100;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
        height: 25px;
    }

    h2::after{
        content : "";
        position: absolute;
        left    : 1.1em;
        bottom: 0px;
        left: 0;
        height  : 1px;
        width   : 40px;
        border-bottom: 3px solid $color-tertiary;
    }
}