.top-menu {
    font-family: $font-secondary;
    display: flex;
    flex-direction: column;

    img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 65%;
        margin: auto;
    }

    &__name {
        display: flex;
        @include flexcenter;
        background-color: $restaurants-back-color;
        border-radius: 2em 2em 0 0;
        margin-top: -3em;
    }

}

form {
    margin-bottom: 0;
    padding-bottom: 1em;
}

.menu {
    display: flex;
    flex-direction: row;
    padding: 0 5%;
    background-color: $restaurants-back-color;

    h2 {
        margin-top: 0;
        padding-top: 1em;
        font-size: 1em;
        font-weight: 100;
        font-weight: normal;
        text-transform: uppercase;
        position: relative;
    }

    h2::after {
        content : "";
        position: absolute;
        left    : 1.1em;
        bottom: -5px;
        left: 0;
        height  : 1px;
        width   : 40px;
        border-bottom: 3px solid $color-tertiary;
      }
}

.orderbutton {
    margin: 2em auto 5rem ;

    
   
}