@keyframes animenu{
    0%{
        transform: scaley(0);
        opacity: 0;
    }

    100%{
        transform: scaley(1);
        opacity: 1;        
    }
}

@keyframes loader{
    100%{
        opacity: 0;
        visibility: hidden;
    }             

}
    
@keyframes bordercolor{
    0%{
        transform: rotate(0deg);    
    }
   
    100%{
        transform: rotate(360deg); 
    }

}


