@mixin rules-button {
    background-color: rgba($element-back-color, 0.2);
    box-shadow: 5px 5px 5px rgba($shadow-color, 0.2);
    border-radius: 1em ;
    margin-bottom: 1em;
    height: 70px;
    width: 320px;
    display: flex;
    padding-left: 2em;
    column-gap: 1.5em;
    align-items: center;
    font-weight : bold;   
    user-select: none;
}

@mixin clic-button {
    width: 220px;
    height: 50px;
    font-size: 1em;
    border: none;
    border-radius: 2em;
    box-shadow: 2px 2px 5px rgba($shadow-color, 0.5) ;
    color: white;
    background: linear-gradient(-20deg, $color-primary, $color-secondary);
    cursor: pointer;
}

@mixin menu-button{
    background-color: white;
    border-radius: 1em;
    box-shadow: 0px 5px 5px rgba($shadow-color, 0.2) ;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 60px;
    width: 100%;
}

@mixin flexcenter {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}