@mixin rules-button{
    background-color: rgba($element-back-color, 0.2);
    box-shadow: $box-shadow-card;
    border-radius: 1em ;
    margin-bottom: 1em;
    height: 70px;
    width: 320px;
    display: flex;
    padding-left: 2em;
    column-gap: 1.5em;
    align-items: center;
    font-weight : bold;   
    user-select: none;
    @media (min-width:1024px) and (max-width: 1368px){
        width: 250px;            

    }

}

@mixin clic-button{
    width: 220px;
    height: 50px;
    font-size: 1em;
    border: none;
    border-radius: 2em;
    box-shadow: $box-shadow-card;
    color: white;
    background: linear-gradient(-20deg, $color-primary, $color-secondary);
    cursor: pointer;
    

    &:hover{
        filter: brightness(110%);
    }
}

@mixin menu-button{
    background-color: white;
    border-radius: 1em;
    box-shadow: $box-shadow-card;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    height: 60px;
    width: 100%;
}

@mixin card-color{
    background-color: white;
    box-shadow: $box-shadow-card;  
    &:hover{
        filter: brightness(105%);
        box-shadow: $box-shadow-card-dark; 
    }

}

@mixin new-card{
    content: "Nouveau";
    position: absolute;
    top: 1em;
    right: 1em;
    color: darken($color-tertiary, 40%);
    background-color: $color-tertiary;
    font-size: 0.9em;
    padding: 0.3em 0.6em;
}

@mixin flexcenter{
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

@mixin filling-heart {
    cursor: pointer;

    &:hover{
        &::before{
            opacity: 0;
            transition-duration: 0.15s;    
            transition-delay: 0.35s;       
        }

        &::after{
            opacity: 1;
            transform: scale(1); 
            transition: all 0.5s;                   
        } 
    }
   
    &::after{
        content: "\f004";
        font-weight: bold;
        background: linear-gradient($color-primary, $color-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;        
        transform: scale(0.1);    
    }    
    
}