@mixin rules-button {
    background-color: rgba($element-back-color, 0.2);
    box-shadow: 5px 5px 5px rgba($shadow-color, 0.2);
    border-radius: 1em ;
    margin-bottom: 1em;
    height: 70px;
    width: 320px;
    display: flex;
    padding-left: 2em;
    column-gap: 1.5em;
    align-items: center;
    font-weight : bold;   
    user-select: none;
}

@mixin flexcenter {
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}