@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");

@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Shrikhand', sans-serif;

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$element-back-color: rgba($color: lightgrey, $alpha: 0.5);
$restaurants-back-color: rgba( 246, 246, 246, 1);
$shadow-color: rgb(59, 59, 59);